<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Student Details</title>
</head>
<body>
    <div class="container">
        <h1>Stored Student Details</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Other Name</th>
                <th>Matric Number</th>
                <th>School</th>
                <th>Department</th>
                <th>Course</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>

